@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height:0;
}

/* NAVBAR */
.navbar {
  height: 9vh;
  box-shadow: 0px 1px 2px rgb(190, 190, 190);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height:0;
}

/* NAVBAR: LOGO */
.navbar .logo {
  padding-left: 2%;
}

.navbar .logo img {
  cursor: pointer;
  max-width: 13vw;
  display: inline;
}

/* NAVBAR: BUTTONS */
.navbar .navigation {
  padding-right: 2%;
  display: flex;
}

.navbar .navigation #viewevent, #addevent {
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  padding: 4px 15px;
  background-color: #121459;
  color: white;
  font-weight: 900;
  font-size: .8rem;
  box-shadow: 0px 2px 3px rgb(190, 190, 190);
}

.navbar .navigation #donate {
  cursor: pointer;
  border: 1px solid #d6d6d6;
  color: #121459;
  font-weight: 900;
  font-size: .8rem;
  background-color: transparent;
  border-radius: 3px;
  margin-left: 1.2vw;
  padding: 4px 20px;
  box-shadow: 0px 1px 3px rgb(190, 190, 190);
}

/* NAVBAR: SEARCH BAR */
.searchbar {
  position: absolute;
  top: 1.4vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border-bottom: 4px solid #0F1146;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar input {
  background-color: transparent;
  font-size: 1.1vw;
  padding: 1.3vh .3vw;
  width: 18vw;
  border: none;
}

.searchbar input:focus {
  outline: none;
}

.searchbar button {
  width: 1.2vw;
  height: 1.2vw;
  border: none;
  background-color: transparent;
  background-image: url("../Assets/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
}

/* INNER CONTAINER */
.inner-container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  height: 100%;
  min-height:0;
}

/* MAP */
.mainmap {
  flex-basis: 60%;
  height: 100%;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  max-width: 40vw; /* new addition for whitespace */
  background-color: #EFF2F5;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  z-index: 2;
  box-shadow: 1px 5px 5px rgb(190, 190, 190);
  min-height:0;
}

/* SIDEBAR: HEADING */
.sidebar .heading {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 0 5vh 0;
  background-color: #0e1046;
  box-shadow: 0px 5px 3px rgb(190, 190, 190);
  z-index: 2;
  min-height:0;
}

.sidebar .heading h1 {
  font-size: 2.1vw;
  font-weight: 700;
  color: white;
  border-bottom: 4px white solid;
}

.sidebar .heading h6 {
  margin-top: 3px;
  color: white;
  font-size: 1.4vw;
  font-weight: 900;
}

/* SIDEBAR: BODY */
.sidebar .body {
  overflow: scroll;
  margin-top: 2px;
  flex-grow: 1;
}

.sidebar .cell {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 27vh;
  color: #353A4D;
  padding: 1.2vh 1.2vw 1.2vh 1.2vw;
  margin: 1vw .6vw;
  background-color: white;
  box-shadow: 0px 5px 5px rgb(190, 190, 190);
  border-radius: 3px;
}

.sidebar .cell .eventtext {
  flex-grow: 1;
  overflow: hidden;
  padding-bottom: 3vw;
}

.sidebar .cell .eventtext h4 {
  font-size: .8vw;
  color: rgb(153, 153, 153);
  margin: .4vw 0;
  font-weight: 500;
}

.sidebar .cell .eventtext h1 {
  font-size: 1.6vw;
  font-weight: 500;
  color: black;
}

.sidebar .cell .eventtext p {
  font-size: 1vw;
  line-height: 2.1vh;
  color: #848484;
}

.sidebar .cell .moreinformationbutton {
  z-index: 3;
  margin-top: 5%;
}

.sidebar .cell .moreinformationbutton button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #121459;
  border: 0;
  box-shadow: 0px 2px 2px rgb(190, 190, 190);
  border-radius: 3px;
  color: white;
  font-weight: 900;
  font-size: 1vw;
}

.sidebar .cell .texttruncationfadeeffect {
  position: absolute;
  width: 96%; /* Somewhat iffy measurements for text fade */
  height: 75%;
  background: linear-gradient(to bottom, transparent, transparent, transparent, transparent,  white 85%);
}

.sidebar .cell .miniLine {
  margin: .5vw 0;
  width: 30px;
  height: 2px;
  background-color: #EBEBEB;
}

/* INFO WINDOW */
.infowindow {
  font-family: 'Roboto', sans-serif;
}

.infowindow .title {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
}

.infowindow .divider {
  height: 1px;
  width: 100%;
  margin: 2px auto;
  background-color: #EBEBEB;
}

.infowindow .date {
  background-color: #121459;
  color: white;
  padding: 2px 2px;
  font-weight: 900;
  font-size: 10px;
}

.infowindow .description {
  display: block;
  overflow: scroll;
  color: #313131;
  font-size: 14px;
  max-height: 4rem;
  line-height: 1em;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
}

/* MORE INFORMATION */
.moreinformation {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2%;
  box-shadow: 0px 5px 5px rgb(190, 190, 190);
  min-height: 95%;
}

.moreinformation .exitbutton button {
  align-self: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
  color: #7c7c7c;
  cursor: pointer;
  float: right;
  margin: 2vh .8vw 0 0;
  border: 0px;
  background-color: inherit;
}

.moreinformation .information {
  display: flex;
  padding: 0 5%;
  flex-direction: column;
}

.moreinformation .information h1 {
  align-self: center;
  font-size: 2.3vw;
  font-weight: 150;
}

.moreinformation .information div {
  align-self: center;
  width: 100%;
  height: 1px;
  background-color: #EBEBEB;
  margin: 2vh 0;
}

.moreinformation .information p,span {
  white-space: pre-wrap;
  font-weight: 150;
  font-size: 1vw;
  line-height: 2.5vh;
  color: rgb(43, 43, 43);
}

.moreinformation .information .date {
  font-weight: 500;
  font-size: .8vw;
}









/* CREATE EVENT MAP */
.createmap {
  width: 100%;
  height: 100%;
}

/* CREATE EVENT FORM */
.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 3vh;
  height: 82vh;
  width: 30vw;
  min-width: 300px;
  background-color: white;
  box-shadow: 0px 4px 10px #999;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
}

.form ::placeholder {
  font-size: 1.1vw;
}

.form .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
}

.form .info h1 {
  font-size: 2.3vw;
  font-weight: 700;
  border-bottom: 6px #161a92 solid;
  margin-bottom: 1.2vh;
  margin-top: 3vh; 
}

.form .info input {
  height: 4.4vh;
  width: 90%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px; 
  margin: 2% 0;
  font-family: inherit;
  font-size: 1.1vw;
}

.form .description {
  flex-grow: 1;
}

.form .description textarea {
  resize: none;
  width: 90%;
  margin: 2% 0;
  height: 100%;
  font-family: inherit;
  font-size: 1.1vw;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px; 
}

.form #location {
  text-align: center;
  border: none;
  background-color: white;
  border-right: rgb(200, 200, 200) 2px solid;
  border-left: rgb(200, 200, 200) 2px solid;
  border-radius: 5px;
  font-size: .95vw;
  font-weight: 400;
  color: black;
}

.form #location::placeholder {
  font-size: .95vw;
  font-weight: 300;
}

.form .submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .submit button {
  cursor: pointer;
  width: 90%;
  height: 45px;
  border: 0;
  border-radius: 5px;
  background-color: #121459;
  font-size: 90%;
  font-weight: 900;
  color: white;
  box-shadow: 0px 2px 2px rgb(190, 190, 190);
}


/* MOBILE SCREENS */
@media only screen and (max-width: 600px) {

  * {
    font-size: 15px !important;
  }


  /* MAIN SCREEN */
  .main-container {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  .sidebar {
    display: none;
  }

  .mainmap {
    flex-basis: 100%;
  }

  .navbar .logo {
    display: none;
  }

  .navbar .navigation #donate {
    display: none;
  }

  .searchbar {
    left: 3%;
    transform: unset;

  }

  .searchbar input {
    font-size: 15px !important;
    width: 50vw;
    height: 2vh;
  }

  .searchbar button {
    width: 5vw;
    height: 2.5vh;
  }

  /* CREATE SCREEN */
  .createmap {
    height: 47%;
  }

  .form {
    position: absolute;
    bottom: 0;
    padding: unset;
    margin: 3% auto;
    height: 50%;
    width: 100%;
  }

  .form ::placeholder {
    font-size: 15px !important;
  }
}