.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: purple;
  height: 100vh;
}

.inner-container {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  padding: 0;
  margin: 0;
  flex-basis: 100%;
  background-color: grey;
  border-style: solid;
}

.main-content{
  flex-basis: 90%;
  border-style: solid;
}

.main-content > div {
  /* height: 100%; */
}


.sidebar {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  border-color: rgba(64, 194, 133, 0.693);
  background-color: rgb(255, 255, 255);
  flex-basis: 13%;
  border-style: solid;
}




.main-create-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.inner-create-container {
  display: flex;
  width: 80%;
  margin: 3% auto;
  background-color: white;
}

.inner-create-box {
  position: absolute;
  width: 30%;
  height: 60%;
  margin: 3%;
  background-color: red;
}