@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  height: 12%;
  box-shadow: 0px 1px 3px rgb(190, 190, 190);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  padding-left: 2%;
}

.navbar .logo img {
  max-width: 13vw;
  display: inline;
}

.inner-container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.mainmap {
  flex-basis: 70%;
}

.sidebar {
  flex-basis: 30%;
  background-color: #F5F8FA;
}




















.main-create-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.inner-create-container {
  display: flex;
  width: 80%;
  margin: 3% auto;
}

.inner-map-box {
  width: 100%;
  height: 100%;
}

.inner-form-box {
  position: absolute;
  width: 30%;
  height: 80%;
  margin: 3%;
  padding: 0;
  background-color: white;
  box-shadow: 0px 1px 5px #999;
}

.inner-form-box .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 13%;
  box-shadow: 0px 3px 5px #999;
}

.inner-form-box .header h1 {
  font-size: 2vw;
}

.inner-form-box .body {
  margin: 3%;
  display: flex;
  flex-direction: column;
  height: 70%;
}

.inner-form-box .body section {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 4% 0;
}

.inner-form-box .body section.textarea {
  flex-grow: 1;
}

.inner-form-box .body h6 {
  margin: 0;
  padding-left: 5%;
  flex-basis: 20%;
}

.inner-form-box .body input {
  width: 70%;
}

.inner-form-box .body textarea {
  resize: none;
  width: 70%;
  height: 100%;
}



.inner-form-box .footer {
  width: 100%;
  height: 13%;
}